.articlesubtitle {
	background : White;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 18px;	
	font-weight : bold;
	color : #333333;
	font-style : italic;
}

.articletext {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;	
	background : White;
	color : #333333;
}

.articlefooter {
	background : #F5F5F5;
	border-top : 1px solid #333333;
	border-bottom : 1px solid #333333;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;	
	font-weight : bold;
	color : #333333;
}

.articlefooterlink {
	background : #F5F5F5;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;	
	font-weight : bold;
	color : Black;
	text-decoration : none;
}

.articlefooterlink:HOVER {
	background : #F5F5F5;
	color : Red;
}

.wraprightbox {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	background : #FFFAFA;
	color : #333333;
	float : right;
	clear : none;
	padding : 5;
	margin : 5;
	text-align : left;
	width : 170;
}