/* COR DA SUBSECAO */
#canal span a { color: #AF2B15; } 

/* COR DOS TITULOS DAS CAIXINHAS e COR DA FONTE DAS ABAS FAQ/DOWNLOADS */
#nav div h3, #esq div h3, #down_faq h3 a { color:#AF2B15; }

/* COR DOS TITULOS DAS CAIXINHAS COM DEGRADE */
#ultmaterias h3 span.titulo, #noticias h3, #maislida h3, #ultmaterias h3, #palavrachave h3 { color:#FFF; background:url(http://static.imasters.com.br/img/secao/fundo_h3_vinho.gif) #C65734 repeat-x; } /*  */

/* COR DO NOME DO COLUISTA */
#colunista h4 a { color:#C80E0E; }